
/* Site Specific Global Styles For Presentation Purposes
----------------------------------------------------------------------------------*/

body {
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
}


#container {
    width: 27%;
    margin: 2% auto;
    padding: 5px;
    height: 300px;
    border: 1px solid #3f7eff;
    border-radius: 5px;
    box-shadow: 2px 2px 1px rgba(46, 46, 46, 0.90); 
    overflow: scroll;
}


